.wrapper
{
    padding: 20px;
}

.poll-Title {
    font-size: large;
    font-weight: 500;
}

.container {
    width:100%;
    /* background-color: bisque; */
    height:100;
    display: table;
    border:aqua;
}
.container .left {
    height: 100%;
    display: table-cell;
    width: 20%;
}
.container .right {
    /* background-color: chartreuse; */
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: text-top;
}